{% extends "base.html" %}
{% block body %}
      <div class="row">
      {% for i in range(0,10)%}
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-body"><img src="static/img/zzpic894.jpg " class="img-rounded" width="100%" ></div>
            <div class="panel-footer">
            <span class="glyphicon glyphicon-user">阿萨德撒多</span>
            <div class="pull-right" ><span class="glyphicon glyphicon-user">阿萨德撒多</span></div>
            </div></div>
        </div>
       {% end %}
      </div>

{% end %}
